
.app{
    display: flex;
    max-width: 1280px;
    min-height:  100vh;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
min-width: 440px;
min-height: 700px;
}
h2{
    color: rgb(8, 8, 90);
}
 
 
 
 
 
 
 
